* {
  margin: 0;
  padding: 0;
  background-color: rgb(48, 48, 48);
}

.move-container {
  text-align: center;
  margin-top: 30%;
}

.png-images {
  border-radius: 12px;
  cursor: pointer;
}

.images {
  width: 50%;
}

.results-container {
  text-align: center;
  color: white;
}

.result {
  font-size: 2em;
}

.moves {
  font-size: 2em;
}

.score {
  margin-top: 5%;
  font-size: 2em;
}

.reset-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.reset {
  color: white;
  width: 6%;
  height: 40px;
}